/* ========== GENERAL CSS RULES ========== */

body {
	overflow-x: hidden;
}

tr > th {
	text-align: center;
}


/*************************************************************************/
/* ===================== STYLING FOR BASE TEMPLATE ===================== */
/*************************************************************************/
/* ========== STYLING FOR NAVBAR ========== */
span[id*='id-display'] {
    font-size: 18px;
    font-weight: bold;
}

#id-well {
    padding: 12px;
    margin-right: 25px;
}


/* ========== STYLING FOR SIDEBAR ========== */

/* The side navigation menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #2d6a9f;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebar > ul, .sidebar > ul > ul {
    list-style: none;
}

.sidebar a.inner-list-header {
    color: #ffffff;
    font-style: italic;
}

.sidebar a.inner-list-header:hover {
    text-decoration: none;
}

/* The navigation menu links */
.sidebar > h3 {
    padding-left: 20px;
    color: #ffffff;
}

.sidebar > ul {
    color: #eeeeee;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s
}

.ex, .ex2, .ex3 {
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    line-height: normal;
    padding: 0;
}
.navbar-btn{
    height: 50px;
}

.inline{
    display: inline-block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover, .offcanvas a:focus{
    color: #ffffff;
}

.sidebar a:not([class*='inner-list-header']):not([class*='closebtn']):hover {
    text-decoration: underline;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

td > a {
    text-decoration: underline;
}


/* ========== STYLING FOR BACK-TO-TOP BUTTON ========== */

.back-to-top-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}


/*************************************************************************/
/* ======================= STYLING FOR HOME PAGE ======================= */
/*************************************************************************/

#accordion .panel-heading {
    padding: 0;
}

#accordion .panel-title > a {
    display: block;
    padding: 0.4em 0.6em;
    outline: none;
    font-weight:bold;
    text-decoration: none;
}

#accordion .panel-title > a.accordion-toggle > b::after, #accordion a[data-toggle="collapse"] > b::after  {
    content:"\e113";
    float: right;
    font-family: 'Glyphicons Halflings';
    margin-right :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed > b::after, #accordion a.collapsed[data-toggle="collapse"] > b::after  {
    content:"\e114";
}


/*************************************************************************/
/* ================ STYLING FOR LOGIN-REGISTRATION PAGE ================ */
/*************************************************************************/

#register-form-wrapper {
    border: 1px solid grey;
    margin: 0 auto;
    max-width: 50%;
}

.account-form-wrapper > form > table {
    margin: 0 auto;
}


/*************************************************************************/
/* =================== STYLING FOR 404 NOT-FOUND PAGE ================== */
/*************************************************************************/

#notfound-error-msg {
    color: red;
}

/*************************************************************************/
/* ================== STYLING FOR MODULE-LISTING PAGE ================== */
/*************************************************************************/

#form-wrapper, #add-module-form-wrapper, #module-mounting-options {
	border: 1px solid black;
	padding: 1% 5%;
}

#add-module-form-wrapper, #module-mounting-options {
	height: 400px;
}

#options > div > * {
    display: inline;
}


/***********************************************************************************/
/* ================== STYLING FOR FIXED/TENTATIVE MOUNTING PAGE ================== */
/***********************************************************************************/

.table-mounting-icon {
    margin-right: 10px;
    z-index: 888px;
}

.toggle-columns-display {
    position: relative;
    margin-top: 10px;
    top: 40px;
    z-index: 999;
}

.toggle-columns-display-checkbox {
    margin-right: 15px;
}

/*************************************************************************/
/* ==================== STYLING FOR MODULE-VIEW PAGE =================== */
/*************************************************************************/

#movebtn {
	position: fixed;
	z-index: 10;
	bottom: 2%;
	right: 2%;
}

.search-form {
	padding: 5%;
	border: 1px solid black;
}

.module-info-wrapper {
	padding: 0 2.5% 2.5% 2.5%;
	border-right: 1px solid black;
	height: 1700px;
}

.module-analysis-wrapper {
	padding: 0 2.5% 2.5% 2.5%;
	border-left: 1px solid black;
	height: 1700px;
}

#quota-demand-chart {
    margin-top: 5px;
    margin-bottom: 15px;
    height: 350px;
}


/*************************************************************************/
/* ============== STYLING FOR MODULES TAKEN TOGETHER PAGE ============== */
/*************************************************************************/

.modules-taken-together{
    margin: 20px 0px;
    float: right;
}


/*******************************************************************************************/
/* ==================== STYLING FOR MODULES TAKEN PRIOR TO OTHERS PAGE =================== */
/*******************************************************************************************/

.modules-taken-prior-search-form{
    text-align: center; 
    width: 50%; 
    margin-left: 25%; 
    border: 1px solid black; 
    margin-bottom: 20px;      
}

.modules-taken-prior-search-form p {
    margin-top: 10px;
}

.modules-taken-prior-search-form input, .modules-taken-prior-search-form select {
    height: 33px;
}

.modules-taken-prior-title{
    margin-bottom: 20px; 
}

.modules-taken-prior-stats{
    font-size: 18px; 
}

.modules-taken-prior-stats td {
    padding-bottom: 15px;
}

.dropdown-btn-custom{
    width: 100%;
    align-self: flex-end;
    background-color: white;
    border: 0px;
}

.dropdown-btn-custom:hover{
    background-color: gainsboro;
}

.dropdown-btn-custom-main{
    float: right;
}

.no-padding-margin{
    padding: 0px;
    margin: 0px;
}


/*************************************************************************/
/* ================ STYLING FOR MODIFIED-MODULES PAGE ================== */
/*************************************************************************/
.detail-change-text {
    background-color: #f2f2f2;
}

tr[id*='modified-details-child-row'] {
    background-color: #f2f2f2;
}


/*******************************************************************************************/
/* ==================== STYLING FOR STUDENT ENROLLMENT PAGE ============================== */
/*******************************************************************************************/
#enrollment-student-year-header {
    margin-bottom: 20px;
}

#enrollment-student-year-table-container {
    margin-top: 15px;
}

#enrollment-student-year-bar-chart {
    width: 80%;
    height: 350px;
    margin-top: 20px;
    margin-left: 10%;
}

#enrollment-student-year-pie-chart {
    display: None;
    height: 350px;
}

#enrollment-focus-area-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#enrollment-focus-area-table-container {
    margin-bottom: 30px;
}

#enrollment-focus-area-bar-chart {
    width: 92%;
    margin-top: 20px;
    margin-left: 4%;
    margin-bottom: 30px;
}

#enrollment-focus-area-pie-chart {
    display: None;
    margin-bottom: 30px;
}

.enrollment-chart-button {
    float: right;
    margin-left: 5px;
}

.enrollment-chart-button-container {
    margin-right: 5px;
}

/********************************************************************************/
/* ==================== STYLING FOR MODULE-VIEW-AY-SEM PAGE =================== */
/********************************************************************************/

#module-view-student-year-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#module-view-student-year-bar-chart {
    height: 350px;
}

#module-view-student-year-pie-chart {
    display: None;   
    height: 350px;
}

#module-view-focus-area-header {
    margin-top: 20px;
}

#module-view-focus-area-bar-chart {
    height: 350px;
}

#module-view-focus-area-pie-chart {
    display: None;   
    height: 350px;
}

.module-view-chart-button {
    float: right;
    margin-left: 5px;
}

.module-view-chart-button-container {
    margin-top: 30px;
    margin-right: -5px;
    margin-bottom: 10px;
}

#focus-area-list {
    display: block;
    visibility: hidden;
    width: 360px;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.8;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#focus-area-list-button:hover + #focus-area-list {
    visibility: visible;
}

#module-view-stats-footer {
    margin-bottom: 30px;
}

/*******************************************************************************************/
/* ==================== STYLING FOR EDIT-ALL-MOUNTINGS-AND-QUOTAS PAGE =================== */
/*******************************************************************************************/
#select-mod-to-edit-div {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 18px;
}

#select-mod-to-edit {
    width: 400px;
    height: 33px;
}

.typeahead.dropdown-menu { 
    width: 400px;
}

#edit-all-table tr {
    display: none;
}

#edit-all-table-header tr {
    display: table-row;
}

.edit-all-bottom-button {
    width: 50px;
    height: 50px;
    font-size: 26px;
    margin-left: 5px;
}

/********************************************************************************/
/* ==================== General =================== */
/********************************************************************************/
.tooltip-inner {
    max-width: 250px;
    /* If max-width does not work, try using width instead */
    width: 250px; 
}


.dropdown-divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    background-color: #eceeef;
}


#find-module {
    width: 450px;
    height: 36px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 3px;
    padding-left: 7px;
    border-radius: 5px;
}

#find-module + .dropdown-menu { 
    width: 450px;
    margin-left: 50px;
}