$def with (page)

<html>
	<head>
		<title>$:page.title</title>
		<link rel="stylesheet" type="text/css" href="static/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="static/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="static/stylesheets/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/stylesheets/csmodify.css">
		<script type="text/javascript" src="static/javascripts/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="static/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/javascripts/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="static/javascripts/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript" src="static/javascripts/jquery.easing.min.js"></script>
		<script type="text/javascript" src="static/javascripts/csmodify.js"></script>
        
	</head>

	<body>
		$if page.title == 'Login to CSModify' or page.title == 'Register for CSModify Account' or page.title == 'Validating...' or page.title == '404 Page Not Found':
			$:page

		$else:
	        <a class="btn btn-info back-to-top-btn page-scroll" href="#page-top"><span class="glyphicon glyphicon-chevron-up"></span></a>
	        <div id="page-top"></div>

			<nav class="navbar navbar-default">
				<div class="container-fluid">
				    <form class="navbar-form navbar-left">
				    	<a class="btn btn-lg btn-primary" href="/">
				    		<span class="glyphicon glyphicon-home"></span>
				    	</a>
					    <button type="button" class="btn btn-lg btn-primary" id="sidebar-button">
					   		<span class="glyphicon glyphicon-menu-hamburger"></span>
					   	</button>
					</form>
					<form class="navbar-form navbar-right" action="/logout" method="post">
						<button class="btn btn-lg btn-danger" type="submit">
							<span class="glyphicon glyphicon-log-out"></span> Logout
						</button>
					</form>
				    <!--form class="navbar-form navbar-right">
				        <button type="submit" class="btn btn-danger">Logout</button>
				    </form-->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    	<ul class="nav navbar-nav navbar-right">
				      		<!--li><a href="javascript:void(0)">(User ID goes here)</a></li-->
					    </ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>

			<div id="sidebar" class="sidebar">
				<a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
				<h3><span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;&nbsp;Module Views</h3>
				<ul>
					<li><a id="sidebar" href="/oversubscribedModules">Oversubscribed Modules</a></li>
					<!--li><a href="#">View by Focus Area</a></li-->
					<li><a id="sidebar" href="/modules">Module Information</a></li>
					<li><a id="sidebar" href="/modifiedModules">Modified Modules</a></li>
					<li><a id="sidebar" href="/moduleSpecificSize">Modules with Specific Class Size</a></li>
					<!--li><a href="#">Sort/Filter Modules</a></li>
					<li><a href="#">Recently Removed Modules</a></li>
					<li><a href="#">Starred Modules</a></li-->
					<li><a id="sidebar" href="/moduleMountingFixed">View Module Mountings for Current AY</a></li>
					<li><a id="sidebar" href="/moduleMountingTentative">View Module Mountings for Other AYs</a></li>
					<!--li><a href="#">View Past Module Demand</a></li-->
				</ul>
				<h3><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;Change Curriculum</h3>
				<ul>
					<!--li><a href="#">Change Module Quota</a></li>
					<li><a href="#">Change Preclusions/Prerequisites</a></li>
					<li><a href="#">Edit Module</a></li-->
					<li><a href="/addModule">Add Module</a></li>
					<!--li><a href="#">Delete Module</a></li-->
				</ul>
				<h3><span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;&nbsp;Module Relations</h3>
				<ul>
					<li><a id="sidebar" href="/overlappingModules">Overlapping Modules</a></li>
					<li><a id="sidebar" href="/moduleTakenPriorToOthers">Modules Taken Prior to Other Modules</a></li>
					<li><a id="sidebar" href="/nonOverlappingModules">Non-Overlapping Modules</a></li>
				    <!--ul>
					   <li><a href="#">Before Specified Module</a></li>
				        <li><a href="#">Before Internship</a></li>
				    </ul-->
				</ul>
				<h3><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;&nbsp;Student Statistics</h3>
				<ul>
					<!--li><a href="javascript:void(0)">Module Demand</a></li>
						<ul>
							<li><a href="#">Current Semester</a></li>
							<li><a href="#">Next Semester</a></li>
							<li><a href="#">In Specific Semester</a></li>
						</ul-->
					<li><a id="sidebar" href="/studentEnrollment">Student Enrollment Info</a></li>
					<!--li><a href="#">Module Timeline</a></li-->
					<li><a id="sidebar" href="/nonOverlappingModules">Non-Overlapping Modules</a></li>
				</ul>
			</div>

			$:page

	</body>
</html>
