$def with (list_of_mod_taken_tgt_1010, list_of_mods_taken_tgt)

$var title: Modules taken together same semester

$for row in list_of_mod_taken_tgt_1010:
	Given module: $row[0],
	Mod taken together with: $row[1],
	Acad year and sem: $row[2],
	Number of students: $row[3] <br>
<!-- $row[0] and $row[1] are modules taken together in aysem $row[2] ,
and the number of students taking them together in that aysem is $row[3].
Note that $row[0] is a given specified module code.-->

<br><br>

$for row in list_of_mods_taken_tgt:
	Module 1 : $row[0],
	Module 2: $row[1],
	Acad year and sem: $row[2],
	Number of students: $row[3] <br>
<!-- $row[0] and $row[1] are modules taken together in aysem $row[2] ,
and the number of students taking them together in that aysem is $row[3].
-->
