$def with (selectedAY, fullMountingPlan)  

$ title_string = 'Edit All Mountings and Quotas'

$var title:$title_string
$ home = ['/', 'Home']
$ editAll = ['#', title_string]

$var hierarchy = [home, editAll]

<script type="text/javascript">
    var selectedModuleCount = 0;

    $$(document).ready(function(){
        //Load the list of modules into the 'Select module to edit' input
        var moduleSource = [];
        var moduleCodeAndName = "";
        $for subplan in fullMountingPlan:
            moduleCodeAndName = "$subplan[0]"+" - "+"$subplan[1]"
            moduleSource.push(moduleCodeAndName);
        $$("input.typeahead").typeahead({
            minLength: 1,
            source: moduleSource,
            updater: function(selectedModule) {
                var selectedModuleCode = selectedModule.split(" ")[0];
                var isModuleEdited = selectedModuleCode + "_isEdited";
                showModuleInTable(selectedModuleCode, isModuleEdited);
            }
        })


    });

    //Show a module in the edit table
    function showModuleInTable(selectedModuleCode, isModuleEdited) {
        selectedModuleCount++;
        var moduleRow = selectedModuleCode + "_row";
        document.getElementById(moduleRow).style.display = "table-row";
        document.getElementById(isModuleEdited).value = "True";
        if (selectedModuleCount > 0) {
            document.getElementById("edit-all-table-no-modules").style.display = "none";
        }
    }

    //Remove a module from the edit table
    function removeModuleFromTable(moduleRow, isModuleEdited) {
        selectedModuleCount--;
        document.getElementById(moduleRow).style.display = "none";
        document.getElementById(isModuleEdited).value = "False";
        if (selectedModuleCount <= 0) {
            document.getElementById("edit-all-table-no-modules").style.display = "table-row";
        }
    }

    //Disable quota input when mounting is unchecked, enable quota input when checked
    function toggleQuotaState(id) {
        var state = document.getElementById(id).disabled;
        document.getElementById(id).disabled = !state;
    }

    //Prevent user from typing '-', '.', or 'e' in quota input
    function checkQuotaKeypress() {
        var e = window.event
        if(e.keyCode == 189 || e.keyCode == 190 || e.keyCode == 69) {
            e.preventDefault();
        }
    }

    //Add red highlight to mounting and quota if mounting is changed
    function checkMountingChange(element, oldMounting, oldQuota, mountingID, quotaID) {
        var oldMounting = (oldMounting == 1);
        var newMounting = element.checked;

        if (oldMounting != newMounting) {
            addRedHighlight(mountingID);
            addRedHighlight(quotaID);
        } else {
            removeRedHighlight(mountingID);
            removeRedHighlight(quotaID);
            if (oldMounting == 1) {
                checkQuotaChange(document.getElementById(quotaID), oldQuota, quotaID)
            }
        }
    }

    //Add red highlight to quota if quota is changed
    function checkQuotaChange(element, oldQuota, quotaID) {
        var newQuota = element.value;

        if (oldQuota == '?') oldQuota = '';
        if (oldQuota != newQuota) {
            addRedHighlight(quotaID);
        } else {
            removeRedHighlight(quotaID);
        }
    }

    function addRedHighlight(id) {
        document.getElementById(id).parentElement.style.backgroundColor = "#ffaea5";
    }

    function removeRedHighlight(id) {
        document.getElementById(id).parentElement.style.backgroundColor = "white";
    }

    //Reset the mounting and quota of a module to when page first load
    function resetMountingAndQuota(sem1Mounting, sem2Mounting, sem1Quota, sem2Quota,
                                   sem1MountingOption, sem2MountingOption,
                                   sem1QuotaInput, sem2QuotaInput) {
        if (sem1Quota == '-' || sem1Quota == '?') sem1Quota = '';
        document.getElementById(sem1QuotaInput).value = sem1Quota;
        removeRedHighlight(sem1QuotaInput);
        if (sem2Quota == '-' || sem2Quota == '?') sem2Quota = '';
        document.getElementById(sem2QuotaInput).value = sem2Quota;
        removeRedHighlight(sem2QuotaInput);

        sem1Mounting = (sem1Mounting == 1);
        var sem1MountingNew = document.getElementById(sem1MountingOption).checked;
        if (sem1MountingNew != sem1Mounting) {
            toggleQuotaState(sem1QuotaInput);
        }
        document.getElementById(sem1MountingOption).checked = sem1Mounting;
        removeRedHighlight(sem1MountingOption);

        sem2Mounting = (sem2Mounting == 1);
        var sem2MountingNew = document.getElementById(sem2MountingOption).checked;
        if (sem2MountingNew != sem2Mounting) {
            toggleQuotaState(sem2QuotaInput);
        }
        document.getElementById(sem2MountingOption).checked = sem2Mounting;
        removeRedHighlight(sem2MountingOption);
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><b>Edit All Mountings and Quotas in <u>$selectedAY</u></b></h1>
            <p class="text-center">Edit the mountings and quotas for the AY <b>one year after the current AY</b>.</p>
            <br>
            <div id="select-mod-to-edit-div" class="col-md-8 col-md-offset-2 text-center">
                <b>Select module(s) to edit:&nbsp;&nbsp;</b>
                <input type="text" id="select-mod-to-edit" class="typeahead" data-provide="typeahead">
            </div>
            <form id="edit-all-form" name="edit-all-form" action="/editAll" method="post">
                <table class="table table-bordered table-hover text-center" id="edit-all-table">
                    <thead id="edit-all-table-header">
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Mounted In Sem 1</th>
                            <th>Sem 1 Quota</th>
                            <th>Mounted In Sem 2</th>
                            <th>Sem 2 Quota</th>
                            <th>Remove</th>
                        </tr>
                        <tr id="edit-all-table-no-modules">
                            <td colspan=7>No modules selected</td>
                        </tr>
                    </thead>
                    <tbody>
                        $for subplan in fullMountingPlan:
                            $ moduleCode = subplan[0]
                            $ moduleName = subplan[1]
                            $ sem1Mounting = subplan[2]
                            $ sem2Mounting = subplan[3]
                            $ sem1Quota = subplan[4]
                            $ sem2Quota = subplan[5]

                            $ moduleRow = moduleCode + "_row"
                            $ sem1MountingOption = moduleCode + "_Sem1Mounting"
                            $ sem2MountingOption = moduleCode + "_Sem2Mounting"
                            $ sem1QuotaInput = moduleCode + "_Sem1Quota"
                            $ sem2QuotaInput = moduleCode + "_Sem2Quota"
                            $ isModuleEdited = moduleCode + "_isEdited"

                            <tr id="$moduleRow">
                                <td class="text-center">
                                    <a href="/viewModule?code=$moduleCode" target="_blank" data-toggle="tooltip" title="View general info for $moduleCode">$moduleCode</a>
                                </td>
                                <td>$moduleName</td>

                            $if sem1Mounting == 1:
                                <td>
                                    <input type="checkbox" onclick="toggleQuotaState('$sem1QuotaInput'); checkMountingChange(this, '$sem1Mounting', '$sem1Quota', '$sem1MountingOption', '$sem1QuotaInput');" id="$sem1MountingOption" name="$sem1MountingOption" value="sem1Mounting" checked>
                                </td>
                            $elif sem1Mounting == 0:
                                <td>
                                    <input type="checkbox" onclick="toggleQuotaState('$sem1QuotaInput'); checkMountingChange(this, '$sem1Mounting', '$sem1Quota', '$sem1MountingOption', '$sem1QuotaInput');" id="$sem1MountingOption" name="$sem1MountingOption" value="sem1Mounting">
                                </td>
                            $elif sem1Mounting == -1:
                                <td>
                                    <input type="checkbox" onclick="toggleQuotaState('$sem1QuotaInput'); checkMountingChange(this, '$sem1Mounting', '$sem1Quota', '$sem1MountingOption', '$sem1QuotaInput');" id="$sem1MountingOption" name="$sem1MountingOption" value="sem1Mounting">
                                </td>

                            $if sem1Quota == '-':
                                <td>
                                    <input type="number" min="0" id="$sem1QuotaInput" id="$sem1QuotaInput" name="$sem1QuotaInput" onkeydown="checkQuotaKeypress();" onpaste="event.preventDefault();" disabled>
                                </td>
                            $elif sem1Quota == '?':
                                <td>
                                    <input type="number" min="0" onchange="checkQuotaChange(this, '$sem1Quota', '$sem1QuotaInput');" 
                                    id="$sem1QuotaInput" name="$sem1QuotaInput" onpaste="event.preventDefault();" onkeydown="checkQuotaKeypress();">
                                </td>
                            $else:
                                <td>
                                    <input class="number" type="number" min="0" onchange="checkQuotaChange(this, '$sem1Quota', '$sem1QuotaInput');" 
                                    id="$sem1QuotaInput" name="$sem1QuotaInput" value="$sem1Quota" onkeydown="checkQuotaKeypress();" onpaste="event.preventDefault();">
                                </td>

                            $if sem2Mounting == 1:
                                <td>
                                    <input type="checkbox" onclick="toggleQuotaState('$sem2QuotaInput'); checkMountingChange(this, '$sem2Mounting', '$sem2Quota', '$sem2MountingOption', '$sem2QuotaInput');" id="$sem2MountingOption" name="$sem2MountingOption" value="sem2Mounting" checked>
                                </td>
                            $elif sem2Mounting == 0:
                                <td>
                                    <input type="checkbox" onclick="toggleQuotaState('$sem2QuotaInput'); checkMountingChange(this, '$sem2Mounting', '$sem2Quota', '$sem2MountingOption', '$sem2QuotaInput');" id="$sem2MountingOption" name="$sem2MountingOption" value="sem2Mounting">
                                </td>
                            $elif sem2Mounting == -1:
                                <td>
                                    <input type="checkbox" onclick="toggleQuotaState('$sem2QuotaInput'); checkMountingChange(this, '$sem2Mounting', '$sem2Quota', '$sem2MountingOption', '$sem2QuotaInput');" id="$sem2MountingOption" name="$sem2MountingOption" value="sem2Mounting">
                                </td>

                            $if sem2Quota == '-':
                                <td>
                                    <input type="number" min="0" id="$sem2QuotaInput" name="$sem2QuotaInput" onkeydown="checkQuotaKeypress();" onpaste="event.preventDefault();" disabled>
                                </td>
                            $elif sem2Quota == '?':
                                <td>
                                    <input type="number" min="0" onchange="checkQuotaChange(this, '$sem2Quota', '$sem2QuotaInput');" 
                                    id="$sem2QuotaInput" name="$sem2QuotaInput" onkeydown="checkQuotaKeypress();" onpaste="event.preventDefault();">
                                </td>
                            $else:
                                <td>
                                    <input type="number" min="0" onchange="checkQuotaChange(this, '$sem2Quota', '$sem2QuotaInput');" 
                                    id="$sem2QuotaInput" name="$sem2QuotaInput" value="$sem2Quota" onkeydown="checkQuotaKeypress();" onpaste="event.preventDefault();">
                                </td>
                            $if True:
                                <td>
                                    <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="bottom" title="Remove module from this table" onclick="resetMountingAndQuota('$sem1Mounting', '$sem2Mounting', '$sem1Quota', '$sem2Quota', '$sem1MountingOption', '$sem2MountingOption', '$sem1QuotaInput', '$sem2QuotaInput'); removeModuleFromTable('$moduleRow', '$isModuleEdited');">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <input type="hidden" id="$isModuleEdited" name="$isModuleEdited" value="False">      
                            </tr>
                    </tbody>
                </table>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="submit" class="btn btn-primary edit-all-bottom-button" data-toggle="tooltip" data-placement="bottom" title="Save changes" onclick="if(!confirm('Are you sure you want to save your changes?')){event.preventDefault();}">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <button type="button" id="edit-all-reset-button" class="btn btn-primary edit-all-bottom-button" data-toggle="tooltip" data-placement="bottom" title="Reset table" onclick="if(!confirm('Are you sure you want to reset the table and discard all your changes?')){event.preventDefault();} else {location.href='/editAll';}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>
