$def with (modules, form)  

<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>MCs</th>
        <th></th>
    </tr>
$for module in modules:
    <tr>
        <td>$module[0]</td>
        <td>$module[1]</td>
        <td>$module[2]</td>
        <td>$module[3]</td>
        <td>
            <form action="/view" method="get">
                <input type="hidden" name="code" value="$module[0]">
                <input type="submit" value="View"/>
            </form>
            <form action="/del/$module[0]" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>    
</table>  

<form action="" method="post">
$:form.render()
</form>
