$def with (modules, form)  

<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>MCs</th>
        <th></th>
    </tr>
$for module in modules:
    <tr>
        <td>$module.code</td>
        <td>$module.name</td>
        <td>$module.description</td>
        <td>$module.mc</td>
        <td>
            <form action="/view" method="get">
                <input type="hidden" name="code" value="$module.code">
                <input type="submit" value="View"/>
            </form>
            <form action="/del/$module.code" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>    
</table>  

<form action="" method="post">
$:form.render()
</form>
