$var title:Home

<h1 class="text-center"><b>Welcome to CSModify</b></h1>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" href="#collapseModuleView">
                                <span class="glyphicon glyphicon-align-left"></span>&nbsp;&nbsp;&nbsp;<b>Module View</b>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseModuleView" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <li><a id="home-page" href="/oversubscribedModules">Oversubscribed Modules</a></li>
                            <!--li>View By Focus Area</li-->
                            <li><a id="home-page" href="/modules">Module Information</a></li>
                            <li><a id="home-page" href="/modifiedModules">Modified Modules</a></li>
                            <li><a id="home-page" href="/moduleSpecificSize">Modules with Specific Class Size</a></li>
                            <!--li>Sort/Filter Modules</li>
                            <li>Recently Removed Modules</li>
                            <li>Starred Modules</li-->
                            <li><a id="home-page" href="/moduleMountingFixed">View Module Mountings For Current AY</a></li>
                            <li><a id="home-page" href="/moduleMountingTentative">View Module Mountings For Next AY</a></li>
                            <!--li>Past Module Demand</li-->
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" href="#collapseChangeCurriculum">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;&nbsp;<b>Change Curriculum</b>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseChangeCurriculum" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!--li>Change Module Quota</li>
                            <li>Change Preclusions/Prerequisites</li>
                            <li>Edit Module</li-->
                            <li><a id="home-page" href="/addModule">Add Module</a></li>
                            <!--li>Delete Modules</li-->
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" href="#collapseModuleRelations">
                                <span class="glyphicon glyphicon-random"></span>&nbsp;&nbsp;&nbsp;<b>Module Relations</b>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseModuleRelations" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <li><a id="home-page" href="/overlappingModules">Commonly Overlapping Modules</a></li>
                            <li>Prior Modules Taken
                                <ul>
                                    <li><a id="home-page" href="/moduleTakenPriorToOthers">Before Specified Module</a></li>
                                    <li><a id="home-page" href="/moduleTakenPriorToInternship">Before Internship</a></li>
                                </ul>
                            </li>
                            <li>Module Info by Semester
                                <ul>
                                    <li><a id="home-page" href="/nonOverlappingModules">Non-Overlapping Modules</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" href="#collapseStudentStatistics">
                                <span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;&nbsp;<b>Student Statistics</b>
                            </a>
                        </h2>
                    </div>
                    <div id="collapseStudentStatistics" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!--li>Module Demand</li>
                                <ul>
                                    <li>Current Semester</li>
                                    <li>Next Semester</li>
                                    <li>In Specific Semester</li>
                                </ul-->
                            <li><a id="home-page" href="/studentEnrollment">Student Enrollment Info</a></li>
                            <!--li>Module Timeline</li-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>