$def with (opcode, id)

<h1>CS-Modify Login</h1>
<form method="post" action="login">
    <p><label for="staffId">Staff ID:</label> <input type="text" name="staffId" maxlength="9" required pattern="[a-zA-Z0-9]+" /></p>
    <p><label for="password">Password:</label> <input type="password" name="password" required></p>
    <p><input type="submit" value="Login" /></p>
</form>
<br>
<p>Don't have an account yet? Click <a href="/register">here</a> to register.</p>
<br>

$if opcode == -2:
    <p>User account for $id is not activated yet.</p>
    
$elif opcode == -1:
    <p>User credentials not found.</p>

$elif opcode == 0:
    <p>User $id has logged in successfully.</p>

$elif opcode == 1:
    <p>User is accessing login page.</p>

$elif opcode == 2:
    <p>User has logged out of system.</p>

$else:
    <p>User has been redirected here upon successful account creation.</p>
