$def with (response=0)

$var title:Login to CSModify

$# Account is successfully created
$if response == 1:
    <script type="text/javascript">
        window.alert("Your account has been created successfully. Please proceed to login.");
    </script>

$# User login is unsuccessful
$if response == -2:
	<script type="text/javascript">
		window.alert("Login credentials are empty or incorrect. Please try again.");
	</script>

<div class="row">
    <div class="col-md-12">
        <div class="page-header text-center">
            <h1>CSModify</h1>
            <p>To use this system, please ensure you have registered for an account and that the system administrator has activated your account.</p>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <h2 class="text-center"><span class="glyphicon glyphicon-user"></span> User Login</h2>
        <br>
        $if response == 2:
            <h2>You have already logged in.</h2>
            <br>
            <a href="/"><button class="btn btn-primary">Enter</button></a>
        $else:
            <form id="loginForm" action="/login" method="post">
                <div class="form-group">
                    <label for="id">User ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="User ID" pattern="^[a-zA-Z0-9]+$$" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
            <p>Don&#39;t have an account yet? Create one <a href="/register">here</a>.</p>
            <br>
            <br>
    </div>
</div>