$def with (selectedAY, fullMountingPlan)  

$ title_string = 'Tentative Module Mounting In ' + selectedAY

$var title:$title_string

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><b>Module Mountings for <u>$selectedAY</u></b></h1>
            <p class="text-center">Shows the <b>tentative</b> module mountings for the AY <b>one year after the current AY</b>.</p>
            <br>
            <div class="row" id="options">
                <h2 class="text-center">Options:</h2>
                <div class="col-md-12 text-center">
                    <form class="navForm" action="/modules" method="post">
                        <input class="btn btn-primary" type="submit" value="Go To Module Information" data-toggle="tooltip" data-placement="right" title="See all modules that exist in the system">
                    </form>
                    <form class="navForm" action="/moduleMountingFixed" method="post">
                        <input class="btn btn-primary" type="submit" value="Go To Fixed Module Mountings" data-toggle="tooltip" data-placement="right" title="See fixed module mountings for the current AY">
                    </form>
                </div>
            </div>
            <br>
            <table class="table table-bordered table-hover text-center display dataTable" id="tentative-mounting-table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th data-sortable="false">Mounted In Sem 1</th>
                        <th data-sortable="false">Mounted In Sem 2</th>
                        <th data-sortable="false">Action</th>
                    </tr>
                </thead>
                <tbody> 
                    $for subplan in fullMountingPlan:

                        <tr>
                            <td>$subplan[0]</td>
                            <td>$subplan[1]</td>
                        $if subplan[2] == 1:
                            <td>
                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span>
                            </td>
                        $elif subplan[2] == 0:
                            <td>
                                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Unmounted"></span>
                            </td>
                        $elif subplan[2] == -1:
                            <td>
                                <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Not Mounted"></span>
                            </td>
                        $if subplan[3] == 1:
                            <td>
                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span>
                            </td>
                        $elif subplan[3] == 0:
                            <td>
                                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Unmounted"></span>
                            </td>
                        $elif subplan[3] == -1:
                            <td>
                                <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Not Mounted"></span>
                            </td>
                        $if True:
                            <td>
                                <form action="/viewModule" method="get">
                                    <input type="hidden" name="code" value="$subplan[0]">
                                    <input class="btn btn-primary" type="submit" value="View Module"/>
                                </form>
                            </td>
                        </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>
