$def with (mountedModuleInfos)

$var title:Fixed Module Mountings for AY 16/17

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12">
            <div id="options">
                <h2>Options:</h2>
                <form class="navForm" action="/modules" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To All Modules" />
                </form>
                <form class="navForm" action="/moduleMountingTentative" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To Tentative Module Mountings" />
                </form>
                <!--form class="navForm" action="/" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To All Tentative Module Mountings" />
                </form-->
            </div>
        </div>

        <div class="col-md-12">
            <h1>Fixed Module Mountings for <b>AY 16/17</b></h1>
            <br>

            <table class="table display dataTable table-bordered table-hover text-center" id="fixed-mounting-table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th data-sortable="false">Mounted In Sem 1</th>
                    <th data-sortable="false">Mounted In Sem 2</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                $for mountedModuleInfo in mountedModuleInfos:
                    <tr>
                        <td>$mountedModuleInfo[0]</td>
                        <td>$mountedModuleInfo[1]</td>
                        <td><span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span></td>
                        <td><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Unmounted"></span></td>
                        <td>
                            <form action="/viewModule" method="get">
                                <input type="hidden" name="code" value="$mountedModuleInfo[0]">
                                <input class="btn btn-primary" type="submit" value="View Module"/>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>