$def with (common_mod, lst_of_mods)

$ page_title = None
$if len(common_mod) > 0:
    $ page_title = "Modules taken together same semester with " + common_mod
$else:
    $ page_title = "Modules taken together in the same semester"


$var title:$page_title

<body class="container container-block">
    <div class="row">
        <h1 class="text-center"> Modules usually taken together</h1>
    </div>
    <div class="row">
        <!--calls method post-->
        <form id="search-modules-taken-tgt-form" action="/modulesTakenTogether" method="post">
            <div class="form-group">
                <label for="find-modules-taken-with">Find modules usually taken with:</label>
                <input type="text" id="code" name="code" class="form-control form-control-lg" placeholder="e.g. CS2010">
                <input type="submit" class="modules-taken-together btn btn-primary col-md-2" value="Submit">
            </div>
        </form>
    </div>
    <div class="row">
        <h2>Results for $page_title:</h2>
        <table id="common-module-table" class="table table-bordered table-hover display dataTable">
            <thead>
                <tr>
                    <th>Module 1</th>
                    <th data-sortable="false">Module 2</th>
                    <th>For AY-Sem</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                $for row in lst_of_mods:
                    <tr>
                        <td class="text-center">$row[0]</td>
                        <td class="text-center">$row[1]</td>
                        <td class="text-center">$row[2]</td>
                        <td class="text-center">$row[3]</td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>