$def with (moduleInfo)

$var title:Edit

<div class="col-md-12">
	<form action="/editModule" method="post">
		<h4><b>Module Code:</b></h4>
		<p>$moduleInfo[0]</p>
		<input type="hidden" name="code" value="$moduleInfo[0]" required>
		<br>
		<h4><b>Module Name:</b></h4>
		<input type="text" size="60" name="name" value="$moduleInfo[1]" pattern="[a-zA-Z0-9\s]+" title="Module name should be alphanumeric." required>
		<br>
		<br>
		<h4><b>Description:</b></h4>
		<textarea type="text" cols="90" rows="6" name="desc">$moduleInfo[2]</textarea>
		<br>
		<br>
		<h4><b>Number of MCs:</b></h4>
		<input type="number" min="0" max="12" size="10" name="mc" value="$moduleInfo[3]" required>
		<br>
		<br>
		<h4><b>Module Preclusions:</b></h4>
		<p>--not parsed yet</p>
		<br>
		<h4><b>Module Prerequisites:</b></h4>
		<p>--not parsed yet</p>
		<br>
		<input type="hidden" name="status" value="submit" required>
		<input class="btn btn-primary" type="submit" value="Submit" />
	</form>
</div>