$def with (selectedAY, fullMountingPlan)  

$var title:Tentative Module Mountings for AY 17/18

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12">
            <div id="options">
                <h2>Options:</h2>
                <form class="navForm" action="/modules" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To All Modules" />
                </form>
                <form class="navForm" action="/moduleMountingFixed" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To Fixed Module Mountings" />
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <h1>Tentative Module Mountings for <b>$selectedAY</b></h1>

            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Mounted In Sem 1</th>
                        <th>Mounted In Sem 2</th>
                        <th>Action</th>
                    </tr>
                </thead>
            $for subplan in fullMountingPlan:
                <tbody>
                <tr>
                    <td>$subplan[0]</td>
                    <td>$subplan[1]</td>
                $if subplan[2] == 1:
                    <td>
                        <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span>
                    </td>
                $elif subplan[2] == 0:
                    <td>
                        <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Unmounted"></span>
                    </td>
                $elif subplan[2] == -1:
                    <td>
                        <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Not Mounted"></span>
                    </td>
                $if subplan[3] == 1:
                    <td>
                        <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span>
                    </td>
                $elif subplan[3] == 0:
                    <td>
                        <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Unmounted"></span>
                    </td>
                $elif subplan[3] == -1:
                    <td>
                        <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Not Mounted"></span>
                    </td>
                $if True:
                    <td>
                        <form action="/viewModule" method="get">
                            <input type="hidden" name="code" value="$subplan[0]">
                            <input type="submit" value="View Module"/>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
