
<html>
	<head>
		<title>Template</title>
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/form.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/module-view.css">
		<link rel="stylesheet" type="text/css" href="../static/stylesheets/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/edit-module.css">
		<script type="text/javascript" src="../static/javascripts/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="../static/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="../static/javascripts/sidebar.js"></script>
		<script type="text/javascript" src="../static/javascripts/movetop.js"></script>
	</head>

	<body>
		<button class="btn btn-primary" id="movebtn" onclick="moveToTop()"><span class="glyphicon glyphicon-triangle-top"></span> Back to Top</button>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
			    <form class="navbar-form navbar-left">
				    <button type="button" class="btn btn-primary" onclick="openSidebar()">
				   		<span class="glyphicon glyphicon-menu-hamburger"></span>
				   	</button>
				</form>
			    <form class="navbar-form navbar-right">
			    	<!-- NOTE: LOGOUT FUNCTION IS CURRENTLY NOT IMPLEMENTED YET! -->
			        <button type="submit" class="btn btn-danger">Logout</button>
			    </form>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav navbar-right">
			    		<!-- TODO: change this to accept a $userid argument (both here and the .py file) and pass it here -->
			      		<li><a href="javascript:void(0)">(User ID goes here)</a></li>
				    </ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div id="sidebar" class="sidebar">
			<a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
			<h3>Module Views</h3>
			<ul>
				<li><a href="#">Oversubscribed Modules</a></li>
				<li><a href="#">View by Focus Area</a></li>
				<li><a href="/">Module Information</a></li>
				<li><a href="#">Sort/Filter Modules</a></li>
				<li><a href="#">Recently Removed Modules</a></li>
				<li><a href="#">Starred Modules</a></li>
				<li><a href="#">View Modules for Current Semester</a></li>
				<li><a href="#">View Modueles for Next Semester</a></li>
				<li><a href="#">View Past Module Demand</a></li>
			</ul>
			<h3>Change Curriculum</h3>
			<ul>
				<li><a href="#">Change Module Quota</a></li>
				<li><a href="#">Change preclusions/prerequisites</a></li>
				<li><a href="#">Edit Module</a></li>
				<li><a href="#">Add Module</a></li>
				<li><a href="#">Delete Module</a></li>
			</ul>
			<h3>Module Relations</h3>
			<ul>
				<li><a href="#">Commonly Overlapping Modules</a></li>
				<li><a href="#">Module Info by Semester</a></li>
				<li><a href="javascript:void(0)">Prior Modules Taken</a></li>
					<ul>
						<li><a href="#">Before Specified Module</a></li>
						<li><a href="#">Before Internship</a></li>
					</ul>
			</ul>
			<h3>Student Statistics</h3>
			<ul>
				<li><a href="javascript:void(0)">Module Demand</a></li>
					<ul>
						<li><a href="#">Current Semester</a></li>
						<li><a href="#">Next Semester</a></li>
						<li><a href="#">In Specific Semester</a></li>
					</ul>
				<li><a href="#">Student Enrollment Info</a></li>
				<li><a href="#">Module Timeline</a></li>
				<li><a href="#">Non-Overlapping Modules</a></li>
			</ul>
		</div>

        <div class="container-block container">
            <div class="row red">
                <div class="col-md-6 module-info-wrapper">
                    <h1 class="row title text-center">Edit: "Module Code"</h1>
                    <div class="row">
                        <!--module information-->
                        <form>
                            <div class="form-group">
                                <lable for="module-name">Module Name:</lable>
                                <input type="text" class="form-control" id="module-name" placeholder="Interaction Desigh">
                            </div>
                            <div class="form-group">
                                <lable for="no-mc">Number of MCs</lable>
                                <input type="text" class="form-control" id="no-mc" placeholder="no. MCs">
                            </div>
                            <div class="form-group">
                                <lable for="description">Number of MCs</lable>
                                <textarea type="text" class="form-control" rows="3" id="description" placeholder="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <!--mounting information-->
                        <form>
                            <div class="form-group">
                                <lable for="ay-sem">Select AY-Semester</lable>
                                <select class="form-control" id="ay-sem">
                                    <option>AY14/15 sem 1</option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <lable for="preclusion">Preclusion</lable>
                                <textarea class="form-control" id="preclusion" placeholder="e.g. CS1010"></textarea>
                            </div>
                            <div class="form-group">
                                <lable for="prerequisit">Preclusion</lable>
                                <textarea class="form-control" id="prerequisit" placeholder="e.g. CS1010"></textarea>
                            </div>
                            <div class="form-group">
                                <lable for="class-quota">Class Quota</lable>
                                <input class="form-control" type="number" id="prerequisit" placeholder="e.g. 60">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 module-analysis-wrapper">
                    <h1 class="row title text-center">Statistics</h1>
                </div>
            </div>
        </div>

	</body>
</html>
