$def with (moduleInfos, form, deleteError=None)  

$var title:Module Listing

$# Delete Error occurred
$if deleteError != None:
    $ errorMessage = "Module " + deleteError + " currently has " +\
                        $ "mountings that refer to it. " +\
                        $ "Remove all mountings before deleting module!"
    <script type="text/javascript">
        window.alert("$errorMessage");
    </script>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <div id="add-module-form-wrapper">
                        <h2><span class="glyphicon glyphicon-pencil"></span> Add a new module</h2>
                        <p>Adds the new module into the <b>tentative mounting plan</b>.</p>
                        <form id="addModForm" action="" method="post">
                            $:form.render()
                        </form>
                    </div>
                </div>

                <div class="col-md-5">
                    <div id="module-mounting-options">
                        <h2><span class="glyphicon glyphicon-list"></span> View Module Mountings</h2>
                        <p>View your mounting plans here.</p>
                        <br>
                        <form action="/moduleMountingFixed" method="post">
                            <input class="btn btn-primary" type="submit" value="Go To Fixed Module Mountings" />
                        </form>
                        <form action="/moduleMountingTentative" method="post">
                            <input class="btn btn-primary" type="submit" value="Go To Tentative Module Mountings" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <br>
            <h1 class="text-center">All Modules</h1>

            <table class="table table-bordered table-hover display dataTable" id="module-listing-table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>MCs</th>
                        <th>Status</th>
                        <th data-sortable="false">Actions</th>
                    </tr>
                </thead>
                <tbody>
                $for moduleInfo in moduleInfos:
                    <tr>
                        <td class="text-center">$moduleInfo[0]</td>
                        <td>$moduleInfo[1]</td>
                        <td>$moduleInfo[2]</td>
                        <td class="text-center">$moduleInfo[3]</td>
                        <td class="text-center">$moduleInfo[4]</td>
                        <td>
                            <form action="/viewModule" method="get">
                                <input type="hidden" name="code" value="$moduleInfo[0]">
                                <input class="btn btn-primary" type="submit" value="View Module"/>
                            </form>
                            
                            $if moduleInfo[4][0:3] == 'New':
                                <form action="/deleteModule/$moduleInfo[0]" method="post">
                                    <input  class="btn btn-primary" type="submit" value="Delete Module"/>
                                </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>