$def with (mountedModuleInfos)  

<style>
    table {
        text-align: left;
    }
    form {
        margin: 0px;
    }
	input {
		width: 120px;
	}
    th, td {
        padding: 5px;
        padding-right: 30px;
    }
	.navForm {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	.navForm input {
		width: 240px;
		height: 25px;
		margin-right: 5px;
	}
</style>

<form class="navForm" action="/modules" method="post">
    <input type="submit" value="Go To All Modules" />
</form>
<form class="navForm" action="/moduleMountingFixed" method="post">
    <input type="submit" value="Go To Fixed Module Mountings" />
</form>

<h1>Module Mountings (Tentative)</h1>

<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Mounted In</th>
        <th>Quota</th>
    </tr>
$for mountedModuleInfo in mountedModuleInfos:
    <tr>
        <td>$mountedModuleInfo[0]</td>
        <td>$mountedModuleInfo[1]</td>
        <td>$mountedModuleInfo[2]</td>
        $if mountedModuleInfo[3] == None:
            <td>?</td>
        $else:
            <td>$mountedModuleInfo[3]</td>
        <td>
            <form action="/viewModule" method="get">
                <input type="hidden" name="code" value="$mountedModuleInfo[0]">
                <input type="submit" value="View Module"/>
            </form>
        </td>
    </tr>    
</table>
