$def with (modify_type, modifiedModules)

$var title:View modified modules

<div class="container-fluid">
    <h1 class="text-center"><b>Modified Modules</b></h1>
    <p class="text-center">Shows all modules that have been modified</p>
    <br>
    <form class="text-center" action="/modifiedModules" method="GET">
        <select name="modifyType" onchange="submit()">
            <option selected disabled>Select type of information modified</option>
            <option value="all">All</option>
            <option value="mounting">Mounting</option>
            <option value="quota">Quota</option>
            <option value="moduleDetails">Module Details</option>
        </select>
    </form> 
$if modify_type == "quota":
    <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Current AY-Semester</th>
                <th>Target AY-Semester</th>
                <th data-sortable="false">Current Quota</th>
                <th data-sortable="false">Modified Quota</th>
                <th>Quota Difference</th>
            </tr>
        </thead>
        <tbody>
            $for module in modifiedModules:
                <tr>
                    <td>$module[0]</td>
                    <td>$module[1]</td>
                    <td>$module[2]</td>
                $if module[3] is None:
                    <td>?</td>
                $else:
                    <td>$module[3]</td>
                $if module[4] is None:
                    <td>?</td>
                $else:
                    <td>$module[4]</td>
                $if True:
                    <td>$module[5]</td>
                </tr>
        </tbody>
    </table>
$elif modify_type == "mounting":
    <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Current AY-Semester</th>
                <th>Target AY-Semester</th>
                <th>Mounting Change</th>
            </tr>
        </thead>
        <tbody>
            $for module in modifiedModules:
                <tr>
                    <td>$module[0]</td>
                    <td>$module[1]</td>
                    <td>$module[2]</td>
                    <td>$module[3]</td>
                </tr>
        </tbody>
    </table>
$elif modify_type == "moduleDetails":
    <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name modified?</th>
                <th>Description modified?</th>
                <th>Number of MCs modified?</th>
                <th data-sortable="false">Remarks</th>
            </tr>
        </thead>
        <tbody>
            $for module in modifiedModules:
                <tr>
                    <td>$module[0]</td>
                    <td>$module[1]</td>
                    <td>$module[2]</td>
                    <td>$module[3]</td>
                $ remarks = ""
                    <td>
                $if module[4][0] is not None:
                        <b><u>Name</u> is modified from</b><br> 
                        <i>"$module[4][0][0]</i>"<br>
                        <b>to</b><br>
                        <i>"$module[4][0][1]</i>"<br>
                        <br>
                $if module[4][1] is not None:
                        <b><u>Description</u> is modified from</b><br> 
                        <i>"$module[4][1][0]</i>"<br>
                        <b>to</b><br>
                        <i>"$module[4][1][1]</i>"<br>
                        <br>
                $if module[4][2] is not None:
                        <b><u>Number of MCs</u> is modified from</b>&nbsp;
                        <i>'$module[4][2][0]'</i>&nbsp;&nbsp;
                        <b>to</b>&nbsp;&nbsp;
                        <i>'$module[4][2][1]'</i>
                        <br><br>
                $if True:
                    </td>
                </tr>
        </tbody>
    </table>
</div>
