$def with (selectedAY, fullMountingPlan)  

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12">
            <div id="options">
                <h2>Options:</h2>
                <form class="navForm" action="/modules" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To All Modules" />
                </form>
                <form class="navForm" action="/moduleMountingFixed" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To Fixed Module Mountings" />
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <h1>Module Mountings (Tentative)</h1>

            <table class="table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Sem 1</th>
                        <th>Sem 2</th>
                        <th>Action</th>
                    </tr>
                </thead>
            $for subplan in fullMountingPlan:
                <tbody>
                <tr>
                    <td>$subplan[0]</td>
                    <td>$subplan[1]</td>
                    <td>$subplan[2]</td>
                    <td>$subplan[3]</td>
                    <td>
                        <form action="/viewModule" method="get">
                            <input type="hidden" name="code" value="$subplan[0]">
                            <input type="submit" value="View Module"/>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
