$def with (moduleListWithCount, list_of_ay_sems, target_ay_sem)

$var title:View Modules Taken Prior to Internship
$ home = ['/', 'Home']
$ modulesPriorIntern = ['#', 'Modules Taken Prior to Internship']
$var hierarchy = [home, modulesPriorIntern]

<div class="container-fluid">
	<h1 class="text-center"><b>Modules Taken Prior to Internship for $target_ay_sem</b></h1>
	<p class="text-center">Shows all modules taken by students prior to taking internship for a particular semester, and how many students took them.</b> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="By default, this shows all data before students take internship in the current AY-Sem."></span></p>
	<br>
	<div class="row"><!--request form-->
        <div class="col-md-12 pagination-centered text-center">
            <form id="ay-form" class="form-inline aysem-dropdown" action="/moduleTakenPriorToInternship" method="post">
                <div class="form-group">
                    <label for="ay-sem">Select AY-Semester:&nbsp;</label>
                    <select id="aysem-dropdown-select" class="form-control" name="aysem">
                        <option value="" disabled selected hidden>Please choose a target AY-Semester</option>
                        $for aysem in list_of_ay_sems:
                            $if target_ay_sem == aysem:
                                <option value="$aysem" selected>$aysem</option>
                            $else:
                                <option value="$aysem">$aysem</option>
                    </select>
                </div>
                <div class="form-group aysem-dropdown">
                    <input type="submit"  value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
	<br>

	<table class="table display dataTable table-bordered table-hover text-center" id="modules-taken-prior-intern-table">
		<thead>
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>Number of Students</th>
			</tr>
		</thead>
		<tbody>
			$for module_with_count in moduleListWithCount:
				<tr>
					<td><a href="/viewModule?code=$module_with_count[0]" target="_blank" data-toggle="tooltip" title="View general info for $module_with_count[0]">$module_with_count[0]</td> <!-- Module Name -->
					<td>$module_with_count[1]</td> <!-- Module Code -->
					<td>$module_with_count[2]</td> <!-- Number students took this mod before intern-->
				</tr>
		</tbody>
	</table>
</div>
<br>
<br>
