$def with (modify_type, modifiedModulesSummary, modifiedModulesMounting, modifiedModulesQuota, modifiedModulesDetails, targetModuleCode, targetModuleModifiedInfo)

$var title:View modified modules

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><b>Modified Modules</b></h1>
            <p class="text-center">Shows all modules that have been modified</p>
            <br>
            $if targetModuleCode is not None:
                $if modify_type == "mounting":
                    <h2>Modified Mounting of <b>$targetModuleCode</b></h2>
                    <p><b>*Change in module mounting is always illustrated with respect to the module mounting in the current AY.</b></p>
                    <br>
                    <table class="table display dataTable table-bordered table-hover text-center" id="specific-modified-module">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Current AY-Semester</th>
                                <th>Target AY-Semester</th>
                                <th>Mounting Change Applied</th>
                                <th data-sortable="false">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                    $for module in targetModuleModifiedInfo:
                        $ moduleCode = module[0]
                        $ moduleName = module[1]
                        $ currentAySem = module[2]
                        $ targetAySem = module[3]
                        $ mountingChange = module[4]
                        <tr>
                            <td>$moduleCode</td>
                            <td>$moduleName</td>
                            <td>$currentAySem</td>
                            <td>$targetAySem</td>
                        $if mountingChange == 1:
                            <td>Unmounted &#8594; Mounted</td>
                        $elif mountingChange == 0:
                            <td>Mounted &#8594; Unmounted</td>
                        <td>
                            <form action="/viewModule" method="get">
                                <input type="hidden" name="code" value="$moduleCode">
                                <input class="btn btn-primary" type="submit" value="View Module"/>
                            </form>
                            <form action="/restoreModule" method="post" onsubmit="if(!confirm('Are you sure you want to restore this module\'s mounting status?')){event.preventDefault();}">
                                <input type="hidden" name="code" value="$moduleCode">
                                <input type="hidden" name="currentAySem" value="$currentAySem">
                                <input type="hidden" name="targetAySem" value="$targetAySem">
                                <input type="hidden" name="mountingChange" value="$mountingChange">
                                <input type="hidden" name="restoreType" value="mounting">
                                <input class="btn btn-danger" type="submit" value="Restore Mounting"/>
                            </form>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                $elif modify_type == "quota":
                    <h2>Modified Quota of <b>$targetModuleCode</b></h2>
                    <p><b>*Change in module quota is always illustrated with respect to the module quota in the current AY.</b></p>
                    <br>
                    <table class="table display dataTable table-bordered table-hover text-center" id="specific-modified-module">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Current AY-Semester</th>
                                <th>Target AY-Semester</th>
                                <th data-sortable="false">Current Quota</th>
                                <th data-sortable="false">Modified Quota</th>
                                <th>Quota Change</th>
                                <th data-sortable="false">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                    $for module in targetModuleModifiedInfo:
                        $ moduleCode = module[0]
                        $ moduleName = module[1]
                        $ currentAySem = module[2]
                        $ targetAySem = module[3]
                        $ currentQuota = module[4]
                        $ targetQuota = module[5]
                        $ quotaChange = module[6]
                        <tr>
                            <td>$moduleCode</td>
                            <td>$moduleName</td>
                            <td>$currentAySem</td>
                            <td>$targetAySem</td>
                        $if currentQuota is None:
                            <td>?</td>
                        $else:
                            <td>$currentQuota</td>
                        $if targetQuota is None:
                            <td>?</td>
                        $else:
                            <td>$targetQuota</td>
                        <td>$quotaChange</td>
                        <td>
                            <form action="/viewModule" method="get">
                                <input type="hidden" name="code" value="$moduleCode">
                                <input class="btn btn-primary" type="submit" value="View Module"/>
                            </form>
                        $if currentQuota == "Unmounted" or targetQuota == "Unmounted":
                            <form action="/modifiedModules" method="get" onsubmit="alert('To restore this module\'s quota, the module\'s mounting has to be restored.');">
                                <input type="hidden" name="modifyType" value="mounting">
                                <input type="hidden" name="code" value="$moduleCode">
                                <input class="btn btn-danger" type="submit" value="Restore Quota"/>
                            </form>                    
                        $else:
                            <form action="/restoreModule" method="post" onsubmit="if(!confirm('Are you sure you want to restore this module\'s quota?')){event.preventDefault();}">
                                <input type="hidden" name="code" value="$moduleCode">
                                <input type="hidden" name="targetAySem" value="$targetAySem">
                                <input type="hidden" name="quota" value="$currentQuota">
                                <input type="hidden" name="restoreType" value="quota">
                                <input class="btn btn-danger" type="submit" value="Restore Quota"/>
                            </form>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                $elif modify_type == "moduleDetails":
                    <h2>Modified Module Details of <b>$targetModuleCode</b></h2>
                    <br>
                    <table class="table display dataTable table-bordered table-hover text-center" id="specific-modified-module">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Description Modified?</th>
                                <th>Number of MCs Modified?</th>
                                <th data-sortable="false">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                    $for module in targetModuleModifiedInfo:
                        $ moduleCode = module[0]
                        $ moduleName = module[1]
                        $ isNameModified = module[2][0] is not None
                        $ isDescModified = module[2][1] is not None
                        $ isMcModified = module[2][2] is not None
                        <tr>
                            <td>$moduleCode</td>
                        $if isNameModified is True:
                            $ originalName = module[2][0][0]
                            $ modifiedName = module[2][0][1]
                            <td>
                                <b>From</b><br><br>
                                <i>"$originalName"</i><br><br>
                                <b>to</b><br><br>
                                <i>"$modifiedName"</i><br><br>
                            </td>
                        $else:
                            <td>Not Modified</td>
                        $if isDescModified is True:
                            $ originalDesc = module[2][1][0]
                            $ modifiedDesc = module[2][1][1]
                            <td>
                                <b>From</b><br><br>
                                <i>"$originalDesc"</i><br><br>
                                <b>to</b><br><br>
                                <i>"$modifiedDesc"</i><br><br>
                            </td>
                        $else:
                            <td>Not Modified</td>
                        $if isMcModified is True:
                            $ originalMc = module[2][2][0]
                            $ modifiedMc = module[2][2][1]
                            <td>
                                <b>From</b> <i>"$originalMc"</i><br><br>
                                <b>to</b> <i>"$modifiedMc"</i><br><br>
                            </td>
                        $else:
                            <td>Not Modified</td>
                        <td>
                            <form action="/viewModule" method="get">
                                <input type="hidden" name="code" value="$targetModuleModifiedInfo[0]">
                                <input class="btn btn-primary" type="submit" value="View Module"/>
                            </form>
                            <form action="/restoreModule" method="post" onsubmit="if(!confirm('Are you sure you want to restore this module\'s details?')){event.preventDefault();}">
                                <input type="hidden" name="code" value="$targetModuleModifiedInfo[0]">
                                <input type="hidden" name="restoreType" value="moduleDetails">
                                <input class="btn btn-danger" type="submit" value="Restore Details"/>
                            </form>
                        </td>
                        </tr>
                    </tbody>
                    </table>
            $else:
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#all">Module Modification Summary</a></li>
                    <li><a data-toggle="tab" href="#mounting">Modules with Modified Mounting</a></li>
                    <li><a data-toggle="tab" href="#quota">Modules with Modified Quota</a></li>
                    <li><a data-toggle="tab" href="#moduleDetails">Modules with Modified Details</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="all">
                        <h2>Module Modification Summary</h2><br>
                        <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-summary-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Is Mounting Modified?</th>
                                    <th>Is Quota Modified?</th>
                                    <th>Is Module Details Modified?</th>
                                    <th data-sortable="false">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                $for module in modifiedModulesSummary:
                                    $ moduleCode = module[0]
                                    $ moduleName = module[1]
                                    $ isMountingModified = module[2]
                                    $ isQuotaModified = module[3]
                                    $ isDetailsModified = module[4]
                                    <tr>
                                        <td><a href="/viewModule?code=$moduleCode" target="_blank" data-toggle="tooltip" title="View general info for $moduleCode">$moduleCode</a></td>
                                        <td>$moduleName</td>
                                        <td>
                                        $if isMountingModified is True:
                                            <u><a href="/modifiedModules?modifyType=mounting&amp;code=$moduleCode" target="_blank">Yes</a></u>
                                        $else:
                                            -
                                        </td>
                                        <td>
                                        $if isQuotaModified is True:
                                            <u><a href="/modifiedModules?modifyType=quota&amp;code=$moduleCode" target="_blank">Yes</a></u>
                                        $else:
                                            -
                                        </td>
                                        <td>
                                        $if isDetailsModified is True:
                                            <u><a href="/modifiedModules?modifyType=moduleDetails&amp;code=$moduleCode" target="_blank">Yes</a></u>
                                        $else:
                                            -
                                            </td>
                                        <td>
                                            <form action="/viewModule" method="get">
                                                <input type="hidden" name="code" value="$moduleCode">
                                                <input class="btn btn-primary" type="submit" value="View Module"/>
                                            </form>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="mounting">
                        <h2>Modules with Modified Mounting</h2>
                        <p><b>*Change in module mounting is always illustrated with respect to the module mounting in the current AY.</b></p>
                        <br>
                        <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-mounting-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Mounting in Current AY-Semester</th>
                                    <th>Mounting in Target AY-Semester</th>
                                    <th>Mounting Change</th>
                                    <th data-sortable="false">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                $if modifiedModulesMounting is None or len(modifiedModulesMounting) == 0:
                                    <tr><td colspan=5>No data found</td></tr>
                                $else:
                                    $for module in modifiedModulesMounting:
                                        $ moduleCode = module[0]
                                        $ moduleName = module[1]
                                        $ currentAySem = module[2]
                                        $ targetAySem = module[3]
                                        $ mountingChange = module[4]
                                        <tr>
                                            <td><a href="/viewModule?code=$moduleCode" target="_blank" data-toggle="tooltip" title="View general info for $moduleCode">$moduleCode</a></td>
                                            <td>$moduleName</td>
                                            <!--td>$currentAySem</td>
                                            <td>$targetAySem</td-->
                                        $if mountingChange == 1:
                                            <td>Unmounted (in <b>$currentAySem</b>)</td>
                                            <td>Mounted (in <b>$targetAySem</b>)</td>
                                            <td>Unmounted &#8594; Mounted</td>
                                        $elif mountingChange == 0:
                                            <td>Mounted (in <b>$currentAySem</b>)</td>
                                            <td>Unmounted (in <b>$targetAySem</b>)</td>
                                            <td>Mounted &#8594; Unmounted</td>
                                        $if True:
                                            <td>
                                                <form action="/viewModule" method="get">
                                                    <input type="hidden" name="code" value="$moduleCode">
                                                    <input class="btn btn-primary" type="submit" value="View Module"/>
                                                </form>
                                                <form action="/restoreModule" method="post" onsubmit="if(!confirm('Are you sure you want to restore this module\'s mounting status?')){event.preventDefault();}">
                                                    <input type="hidden" name="code" value="$moduleCode">
                                                    <input type="hidden" name="currentAySem" value="$currentAySem">
                                                    <input type="hidden" name="targetAySem" value="$targetAySem">
                                                    <input type="hidden" name="mountingChange" value="$mountingChange">
                                                    <input type="hidden" name="restoreType" value="mounting">
                                                    <input class="btn btn-danger" type="submit" value="Restore Mounting"/>
                                                </form>
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="quota">
                        <h2>Modules with Modified Quota</h2>
                        <p><b>*Change in module quota is always illustrated with respect to the module quota in the current AY.</b></p>
                        <br>
                        <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-quota-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Current AY-Semester</th>
                                    <th data-sortable="false">Quota for Current AY-Semester</th>
                                    <th>Target AY-Semester</th>
                                    <th data-sortable="false">Quota for Target AY-Semester</th>
                                    <th>Change in Quota</th>
                                    <th data-sortable="false">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                $if modifiedModulesQuota is None or len(modifiedModulesQuota) == 0:
                                    <tr><td colspan=8>No data found</td></tr>
                                $else:
                                    $for module in modifiedModulesQuota:
                                        $ moduleCode = module[0]
                                        $ moduleName = module[1]
                                        $ currentAySem = module[2]
                                        $ targetAySem = module[3]
                                        $ currentQuota = module[4]
                                        $ targetQuota = module[5]
                                        $ quotaChange = module[6]
                                        <tr>
                                            <td><a href="/viewModule?code=$moduleCode" target="_blank" data-toggle="tooltip" title="View general info for $moduleCode">$moduleCode</a></td>
                                            <td>$moduleName</td>
                                            <td>$currentAySem</td>
                                        $if currentQuota is None:
                                            <td>?</td>
                                        $else:
                                            <td>$currentQuota</td>
                                        <td>$targetAySem</td>
                                        $if targetQuota is None:
                                            <td>?</td>
                                        $else:
                                            <td>$targetQuota</td>
                                        <td>$quotaChange</td>
                                        <td>
                                            <form action="/viewModule" method="get">
                                                <input type="hidden" name="code" value="$moduleCode">
                                                <input class="btn btn-primary" type="submit" value="View Module"/>
                                            </form>
                                        $if currentQuota == "Unmounted" or targetQuota == "Unmounted":
                                            <form action="/modifiedModules" method="get" onsubmit="alert('To restore this module\'s quota, the module\'s mounting has to be restored.');">
                                                <input type="hidden" name="modifyType" value="mounting">
                                                <input type="hidden" name="code" value="$moduleCode">
                                                <input class="btn btn-danger" type="submit" value="Restore Quota"/>
                                            </form>                    
                                        $else:
                                            <form action="/restoreModule" method="post" onsubmit="if(!confirm('Are you sure you want to restore this module\'s quota?')){event.preventDefault();}">
                                                <input type="hidden" name="code" value="$moduleCode">
                                                <input type="hidden" name="targetAySem" value="$targetAySem">
                                                <input type="hidden" name="quota" value="$currentQuota">
                                                <input type="hidden" name="restoreType" value="quota">
                                                <input class="btn btn-danger" type="submit" value="Restore Quota"/>
                                            </form>
                                        </td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="moduleDetails">
                        <h2>Modules with Modified Details</h2><br>
                        <table class="table display dataTable table-bordered table-hover text-center" id="modified-modules-details-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Name modified?</th>
                                    <th>Description modified?</th>
                                    <th>Number of MCs modified?</th>
                                    <th data-sortable="false">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                $if modifiedModulesDetails is None or len(modifiedModulesDetails) == 0:
                                    <tr><td colspan=6>No data found</td></tr>
                                $else:
                                    $for module in modifiedModulesDetails:
                                        $ moduleCode = module[0]
                                        $ moduleName = module[1]
                                        $ isNameModified = module[2][0] is not None
                                        $ isDescModified = module[2][1] is not None
                                        $ isMcModified = module[2][2] is not None
                                        <tr>
                                            <td><a href="/viewModule?code=$moduleCode" target="_blank" data-toggle="tooltip" title="View general info for $moduleCode">$moduleCode</a></td>
                                            <td>$moduleName</td>
                                        $if isNameModified is True:
                                            $ originalName = module[2][0][0]
                                            $ modifiedName = module[2][0][1]
                                             <td>
                                                <b>From</b><br><br>
                                                <i>"$originalName"</i><br><br>
                                                <b>to</b><br><br>
                                                <i>"$modifiedName"</i><br><br>
                                            </td>
                                        $else:
                                            <td>-</td>
                                        $if isDescModified is True:
                                            $ originalDesc = module[2][1][0]
                                            $ modifiedDesc = module[2][1][1]
                                             <td>
                                                <b>From</b><br><br>
                                                <i>"$originalDesc"</i><br><br>
                                                <b>to</b><br><br>
                                                <i>"$modifiedDesc"</i><br><br>
                                            </td>
                                        $else:
                                            <td>-</td>
                                        $if isMcModified is True:
                                            $ originalMc = module[2][2][0]
                                            $ modifiedMc = module[2][2][1]
                                             <td>
                                                <b>From</b> <i>"$originalMc"</i><br><br>
                                                <b>to</b> <i>"$modifiedMc"</i><br><br>
                                            </td>
                                        $else:
                                            <td>-</td>
                                        $if True:
                                            <td>
                                                <form action="/viewModule" method="get">
                                                    <input type="hidden" name="code" value="$module[0]">
                                                    <input class="btn btn-primary" type="submit" value="View Module"/>
                                                </form>
                                                <form action="/restoreModule" method="post" onsubmit="if(!confirm('Are you sure you want to restore this module\'s details?')){event.preventDefault();}">
                                                    <input type="hidden" name="code" value="$module[0]">
                                                    <input type="hidden" name="restoreType" value="moduleDetails">
                                                    <input class="btn btn-danger" type="submit" value="Restore Details"/>
                                                </form>
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<br>
<br>
