$def with (selectedAY, fullMountingPlan)  

$ title_string = 'Tentative Module Mounting In ' + selectedAY

$var title:$title_string
$ home = ['/', 'Home']
$ tentativeMounting = ['#', title_string]

$var hierarchy = [home, tentativeMounting]

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><b>Module Mountings for <u>$selectedAY</u></b></h1>
            <p class="text-center">Shows the <b>tentative</b> module mountings for the AY <b>one year after the current AY</b>.</p>
            <br>
            <div class="row" id="options">
                <div class="col-md-12 text-center">
                    <form class="navForm" action="/modules" method="post">
                        <input class="btn btn-primary" type="submit" value="Go To Module Information" data-toggle="tooltip" data-placement="bottom" title="See all modules that exist in the system">
                    </form>
                    <form class="navForm" action="/moduleMountingFixed" method="post">
                        <input class="btn btn-primary" type="submit" value="Go To Module Mountings for Current AY" data-toggle="tooltip" data-placement="bottom" title="See fixed module mountings for current AY">
                    </form>
                </div>
            </div>
            <br>
            <table class="table table-bordered table-hover text-center display dataTable" id="tentative-mounting-table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th data-sortable="false">Mounted In Sem 1</th>
                        <th data-sortable="false">Mounted In Sem 2</th>
                    </tr>
                </thead>
                <tbody> 
                    $for subplan in fullMountingPlan:
                        $ moduleCode = subplan[0]
                        $ moduleName = subplan[1]
                        $ sem1Mounting = subplan[2]
                        $ sem2Mounting = subplan[3]
                        <tr>
                            <td class="text-center">
                                <a href="/viewModule?code=$moduleCode" target="_blank" data-toggle="tooltip" title="View general info for $moduleCode">$moduleCode</a>
                            </td>
                            <td>$moduleName</td>
                        $if sem1Mounting == 1:
                            <td>
                                <a href="/individualModuleInfo?code=$moduleCode&aysem=$selectedAY+Sem+1" target="_blank">
                                    <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" data-html="true" 
                                    title="Mounted<br>(Click to go to module's AY-Sem view)"></span>
                                </a>
                            </td>
                        $elif sem1Mounting == 0:
                            <td>
                                <a href="/individualModuleInfo?code=$moduleCode&aysem=$selectedAY+Sem+1" target="_blank">
                                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" data-html="true" 
                                    title="Unmounted<br>(Click to go to module's AY-Sem view)"></span>
                                </a>
                            </td>
                        $elif sem1Mounting == -1:
                            <td>
                                <a href="/individualModuleInfo?code=$moduleCode&aysem=$selectedAY+Sem+1" target="_blank">
                                    <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" data-html="true"
                                    title="Not Mounted<br>(Click to go to module's AY-Sem view)"></span>
                                </a>
                            </td>
                        $if sem2Mounting == 1:
                            <td>
                                <a href="/individualModuleInfo?code=$moduleCode&aysem=$selectedAY+Sem+2" target="_blank">
                                    <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" data-html="true" 
                                    title="Mounted<br>(Click to go to module's AY-Sem view)"></span>
                                </a>
                            </td>
                        $elif sem2Mounting == 0:
                            <td>
                                <a href="/individualModuleInfo?code=$moduleCode&aysem=$selectedAY+Sem+2" target="_blank">
                                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" data-html="true" 
                                    title="Unmounted<br>(Click to go to module's AY-Sem view)"></span>
                                </a>
                            </td>
                        $elif sem2Mounting == -1:
                            <td>
                                <a href="/individualModuleInfo?code=$moduleCode&aysem=$selectedAY+Sem+2" target="_blank">
                                    <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" data-html="true"
                                    title="Not Mounted<br>(Click to go to module's AY-Sem view)"></span>
                                </a>
                            </td>
                        </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>
