$def with (currentAY, fullMountingPlan)

$ title_string = 'Fixed module mounting in ' + currentAY
$var title:$title_string

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-12">
            <div id="options">
                <h2>Options:</h2>
                <form class="navForm" action="/modules" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To All Modules" />
                </form>
                <form class="navForm" action="/moduleMountingTentative" method="post">
                    <input class="btn btn-primary" type="submit" value="Go To Tentative Module Mountings" />
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <h1>Fixed Module Mountings for <b>$currentAY</b></h1>

            <table class="table table-bordered table-hover text-center dataTable display" id="fixed-mounting-table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th data-sortable="false">Mounted In Sem 1</th>
                        <th data-sortable="false">Mounted In Sem 2</th>
                        <th data-sortable="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    $for subplan in fullMountingPlan:

                        <tr>
                            <td>$subplan[0]</td>
                            <td>$subplan[1]</td>
                        $if subplan[2] == 1:
                            <td>
                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span>
                            </td>
                        $elif subplan[2] == -1:
                            <td>
                                <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Not Mounted"></span>
                            </td>
                        $if subplan[3] == 1:
                            <td>
                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="bottom" title="Mounted"></span>
                            </td>
                        $elif subplan[3] == -1:
                            <td>
                                <span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-placement="bottom" title="Not Mounted"></span>
                            </td>
                        $if True:
                            <td>
                                <form action="/viewModule" method="get">
                                    <input type="hidden" name="code" value="$subplan[0]">
                                    <input class="btn btn-primary" type="submit" value="View Module"/>
                                </form>
                            </td>
                        </tr>
                </tbody>
            </table>
            <br>
            <br>
        </div>
    </div>
</div>