$def with (moduleCode, aySem, mountingValue, quota)

$var title:Edit

<div class="col-md-12">
	<form action="/editMounting" method="post">
		<h4><b>Module Code:</b></h4>
		<p>$moduleCode</p>
		<br>
		<h4><b>Mounting Status:</b></h4>
		$if mountingValue == "1":
			<input type="radio" onclick="document.getElementById('quota').disabled = false;" name="mountingStatus" value="Mounted" checked="checked"> Mounted<br>
			<input type="radio" onclick="document.getElementById('quota').disabled = true;" name="mountingStatus" value="Not Mounted"> Not Mounted
		$else:
			<input type="radio" onclick="document.getElementById('quota').disabled = false;" name="mountingStatus" value="Mounted"> Mounted<br>
			<input type="radio" onclick="document.getElementById('quota').disabled = true;" name="mountingStatus" value="Not Mounted" checked="checked"> Not Mounted
		<br>
		<br>
		<h4><b>Quota:</b></h4>
		$if mountingValue == "1":
			<input id="quota" type="number" min="0" size="10" name="quota" value="$quota">
		$else:
			<input id="quota" type="number" min="0" size="10" name="quota" value="$quota" disabled>
		<br>
		<br>
		<br>
		<input type="hidden" name="code" value="$moduleCode" required>
		<input type="hidden" name="aySem" value="$aySem" required>
		<input type="hidden" name="oldMountingValue" value="$mountingValue" required>
		<input type="hidden" name="status" value="submit" required>
		<input class="btn btn-primary" type="submit" value="Submit" />
	</form>
</div>