$def with (list_of_oversub_mod)

$var title:View Oversubscribed Modules

$code:
	def get_formatted_AY_Sem(acadYearSem):
		first_replace = acadYearSem.replace(' ', '+')
		second_replace = first_replace.replace('/', '%2F')
		return second_replace


<div class="container-fluid">
	<h1 class="text-center"><b>Oversubscribed Modules</b></h1>
	<p class="text-center">Shows all modules with <b>demand &gt; supply</b></p>
	<br>
	<table class="table display dataTable table-bordered table-hover text-center" id="oversubscribed-modules-table">
		<thead>
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>AY-Semester</th>
				<th>Class Quota</th>
				<th>Student Demand</th>
			</tr>
		</thead>
		<tbody>
			$if list_of_oversub_mod == None:
				<tr>
					<th>Nil</th>
					<th>Nil</th>
					<th>Nil</th>
					<th>Nil</th>
					<th>Nil</th>
				</tr>
			$else:
				$for module in list_of_oversub_mod:
					$ address = '/individualModuleInfo?code=' + module[0] + '&targetAY=' + get_formatted_AY_Sem(module[2])
					<tr>						
						<td><a href="$:address" target="_blank">$module[0]</a></td>
						<td>$module[1]</td>
						<td>$module[2]</td>
						<td>$module[3]</td>
						<td>$module[4]</td>
					</tr>
		</tbody>
	</table>
</div>
