$def with (lst_of_mods)

$ page_title = "Modules Taken Together In The Same Semester"

$var title:$page_title
$ home = ['/', 'Home']
$ overlapModules = ['#', 'Overlapping Modules']

$var hierarchy = [home, overlapModules]

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center"><b>Overlapping Modules</b></h1>
            <p class="text-center">Shows all pairs of modules, that are taken by students in the same semester.</p>
            <br>
            <div class="row loading-div text-center">
                <img src="static/images/loading.gif">
                <h3>Loading data, please wait...</h3>
            </div>
            <table id="common-module-table" class="table table-bordered table-hover display dataTable text-center">
                <thead>
                    <tr>
                        <th>Module 1</th>
                        <th>Name of Module 1</th>
                        <th>Module 2</th>
                        <th>Name of Module 2</th>
                        <th>For AY-Sem</th>
                        <th>Number of Students</th>
                    </tr>
                </thead>
                <tbody>
                    $for row in lst_of_mods:
                        $ address1 = '/viewModule?code=' + row[0]
                        $ address2 = '/viewModule?code=' + row[2]
                        <tr>
                            <td><a href="$:address1" target="_blank" data-toggle="tooltip" title="View general info for $row[0]">$row[0]</a></td>
                            <td>$row[1]</td>
                            <td><a href="$:address2" target="_blank" data-toggle="tooltip" title="View general info for $row[2]">$row[2]</a></td>
                            <td>$row[3]</td>
                            <td>$row[4]</td>
                            <td>$row[5]</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>