$def with (yr_of_study_count_table, focus_count_table)

<div class="container-fluid">
	<h1 class="text-center"><b>Student Enrollment Information</b></h1>
	<hr>
	<h2>Student Enrollment by Year of Study</h2>
	<table class="table table-bordered table-hover text-center">
		<thead>
			<tr>
				<th>Year of Study</th>
				<th>Number of Students</th>
			</tr>
		</thead>
		<tbody>
			$for year_count_pair in yr_of_study_count_table:
				<tr>
					<td>$year_count_pair[0]</td>
					<td>$year_count_pair[1]</td>
				</tr>
		</tbody>
	</table>
	<br>
	<h2>Student Enrollment by Focus Area</h2>
	<table class="table table-bordered table-hover text-center">
		<thead>
			<tr>
				<th>Focus Area</th>
				<th>Number of Students</th>
			</tr>
		</thead>
		<tbody>
			$for focus_count_pair in focus_count_table:
				<tr>
					<td>$focus_count_pair[0]</td>
					<td>$focus_count_pair[1]</td>
				</tr>
		</tbody>
	</table>
</div>