<!DOCTYPE html>

<html>
    <head>
        <meta name="description" content="first page suer admin sees upon logon">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/bootstrap.min.css">
        <script type="text/javascript" src="../static/javascripts/jquery-2.2.4.min.js"></script>
        <scrpit type="text/javascript" src="../static/javascripts/bootstrap.min.js"></scrpit>
    </head>
    
    <body>
        <div class="container container-block">
            <div class="row">
                <form>
                    <div class="panel panel-default">
                        <div class="panel-heading">Administrators</div>
                        <div class="panel-body">
                            <table class="table table-stripped">
                                <tr>
                                    <thead>
                                        <th>User ID</th>
                                        <th>Date created</th>
                                        <th>Activated</th>
                                        <th>Actions</th>
                                    </thead>
                                </tr>
                                
                                <tbody>
                                    <tr>
                                        <td>placeholder</td>
                                        <td>placeholder</td>
                                        <td>placeholder</td><!--Y/N-->
                                        <td>placeholder</td><!--Activate/Delete/Deactivate-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <button id="add-account-btn" class="btn btn-primary">Add Account</button>
                </div>
            </div>
        </div>
    </body>
</html>