$def with (moduleInfo, fixedMountingPlan, tentaMountingPlan, numberOfStudentsPlanning, systemMessage)

$ moduleCode = moduleInfo[0]
$ moduleName = moduleInfo[1]
$ moduleDescription = moduleInfo[2]
$ moduleMC = moduleInfo[3]

$code:
    # get number of students who plan to take the module in a certain AY and Sem
    def getNumStudents(acadYearSem):
        for mounting in numberOfStudentsPlanning:
            if mounting[1] == acadYearSem:
                return mounting[0]
        return 0

<!--bottom half module info-->
<div clas="container-fluid">
	<div class="row"><!--left half of module info-->
		<div class="col-md-6 module-info-wrapper">
			<div class="row">
				<div class="col-md-12">
				<!--search bar-->
					<form class="search-form" id="search-form" action"#">
						<h2>Search Module</h2>
						<br>
						<div class="form-group">
							<label for="module-code">Enter Module Code: </label>
							<input type="text" class="form-control" name="module-code" pattern="[a-zA-Z0-9]+" placeholder="Module Code" required>
						</div>
						<div class="form-group">
							<label for="ay-sem">Select Target AY &amp; Semester: </label>
							<br>
							<select name="ay-sem" form="search-form">
								<option value="1">AY 2016/2017 Sem 1</option>
								<option value="2">AY 2016/2017 Sem 2</option>
								<option value="3">AY 2016/2017 Special Term I</option>
								<option value="4">AY 2016/2017 Special Term II</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
					<br>
					<hr>
					$if systemMessage is not None:
						<p style="color:red; text-align:center">$systemMessage</p>
				</div>
				<div class="col-md-12 text-center">
					<h2><b>Module Info Overview</b></h2>
				</div>
				<div class="col-md-12 module-header">
					<div class="page-header">
						<h1><b>$moduleCode</b></h1>
						<h3>$moduleName ($moduleMC MCs)</h3>
						<br>
						<form action="/editModule" method="post">
							<input type="hidden" name="status" value="load">
							<input type="hidden" name="code" value="$moduleCode">
                            <input class="btn btn-primary" type="submit" value="Edit Module" />
                        </form>
					</div>
				</div>
				<div class="col-md-12">
					<h4><b>Module Description:</b></h4>
					<p>
						$moduleDescription
					</p>
					<br>
					<h4><b>Module Preclusions:</b></h4>
					<p>--not parsed yet</p>
					<br>
					<h4><b>Module Prerequisites:</b></h4>
					<p>--not parsed yet</p>
					<br>
					<h4><b>Class Quota for AY-Semesters:</b></h4>
					<br>
				</div>
				<div  class="col-md-12">
					<!--mountingAndQuota-->
					<table class="table table-bordered table-hover" id="mountingAndQuota">
						<thead>
							<tr>
								<th>AY/Sem</th>
								<th>Mounted In</th>
								<th>Quota</th>
								<th>Students Planning to Take</th>
							</tr>
						</thead>
						<tbody>
						$for entry in fixedMountingPlan:
							<tr>
								<td>
									<form action="/individualModuleInfo" method="get">
										<input type="hidden" name="code" value="$moduleCode">
										<input type="hidden" name="targetAY" value="$entry[0]">
										<input type="submit" value="$entry[0]">
									</form>
								</td>
							<td>$entry[1]</td>
							$ numberTaking = getNumStudents(entry[0])
							$if entry[2] == None:
								<td>?</td>
								<td>$numberTaking</td>
							$else:
								<td>$entry[2]</td>
								<td>$numberTaking</td>
							</tr>
						$for entry in tentaMountingPlan:
							<tr>
								<td>
									<form action="/individualModuleInfo" method="get">
										<input type="hidden" name="code" value="$moduleCode">
										<input type="hidden" name="targetAY" value="$entry[0]">
										<input type="submit" value="$entry[0]">
									</form>
								</td>
							<td>$entry[1]</td>
							$if entry[2] == None:
								<td>?</td>
								<td>?</td>
							$else:
								<td>$entry[2]</td>
								<td>?</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6 module-analysis-wrapper">
			<div class="page-header text-center">
				<h2>Module Statistics</h2>
			</div>
			<h4><b>Student Demand:</b></h4>
			<p>315</p>
		</div>
	</div>
</div>
